form {
  width: 500px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}


.tableMain{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 500px;
}